
._mdTitle {
    display: block;
}

._xsTitle {
    display: none;
}


.dataTables_scroll {
    overflow: auto;
}

@media screen and (max-width:768px) {
    ._mdTitle {
        display: none;
    }

    ._xsTitle {
        display: block;
    }
    .x_panel {
        padding: 10px 0;
        margin: 0;
        border: none !important;
    }

    .x_content {
        padding: 0;
        margin: 0;
    }
    /*border*/
    ._setborder {
        border: 1px solid #E6E9ED;
        margin-bottom:10px;
    }

    #_Title>.x_panel {
        padding: 0 10px;
    }

    #_Title .x_panel .x_content {
        padding: 0;
    }

    
    ._select {
        font-size:0.85em;
    }
    ._select .dashboard_graph input,
    ._select .dashboard_graph select,
    a#ContentPlaceHolder1_LinkButton_month {
        /*font-size: 0.85em;*/
    }
    /*table*/
    #ContentPlaceHolder1_CheckBoxList_spaces tbody tr td label {
        margin-left:10px;
    }
    label {
        margin-bottom: 0 !important;
    }
    /*關掉table背景*/
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: none !important;
    }
    
}
