.right_col ol.breadcrumb_ {
    margin-bottom: 30px;
}

.Div_Shadow {
    box-shadow: 3px 3px 9px gray;
}

#chartpie_Count {
    height: 450px;
    max-width: 1000px;
    margin: 0px auto;
}

@media screen and (max-width:768px) {
    .Div_Shadow {
        box-shadow: none;
    }

    #myTabContent {
        position: relative;
    }

    #exportChart {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }

    #chartpie_Count {
        height: 300px;
        width: 100%;
    }

    .x_panel {
        margin: 0;
    }

    
    /*選擇產線*/

    #ContentPlaceHolder1_CheckBoxList_Line input {
        margin-right: 10px;
    }

    #ContentPlaceHolder1_CheckBoxList_Line tr {
        width: 50%;
        float: left;
    }

    #ContentPlaceHolder1_CheckBox_All {
        margin-right: 10px;
    }

    #btncheck {
        width: 100%;
    }
    /*表格模式*/
    #tab_content2 .x_content {
        padding: 0;
    }

    #tab_content2 .x_content .x_panel {
        padding: 0 1px;
    }

    #tab_content2 .x_panel {
        padding: 10px;
    }

    #tab_content2 .x_panel {
        overflow-x: scroll;
    }

    #tab_content2 .x_title {
        margin-bottom: 0;
    }

    #tab_content2 #datatable-buttons {
        box-shadow: 0 0 3px gray;
    }
    #tab_content1 > .x_panel > div.row > div > div:last-child {
        padding:0;
    }
    #tab_content1 > .x_panel > div.row > div > div:last-child > div {
        padding:0;
    }
    #tab_content1 > .x_panel > div.row > div > div:last-child .dashboard_graph {
        padding:0;
    }
}




#testmodal2 {
    padding: 5px 20px;
}

@media screen and (max-width:768px) {
    /*彈跳視窗*/
    #ContentPlaceHolder1_UpdatePanel1 div.input-group textarea,
    #ContentPlaceHolder1_UpdatePanel1 div.input-group span.input-group-btn {
        width: 100%;
        display: block;
    }

        #ContentPlaceHolder1_UpdatePanel1 div.input-group span.input-group-btn input {
            width: 100%;
            margin-top: 10px;
        }

    #ContentPlaceHolder1_UpdatePanel1 div.form-group label,
    #ContentPlaceHolder1_UpdatePanel1 div.form-group:nth-child(4) label {
        width: 35%;
        display: inline-block;
    }

    #ContentPlaceHolder1_UpdatePanel1 div.form-group select,
    #ContentPlaceHolder1_UpdatePanel1 div.form-group:nth-child(4) > div {
        width: 63%;
        display: inline-block;
    }

    #testmodal2 {
        padding: 0;
    }

    #ContentPlaceHolder1_UpdatePanel1 div.form-group:nth-child(3) label,
    #ContentPlaceHolder1_UpdatePanel1 div.form-group:nth-child(3) input,
    #ContentPlaceHolder1_UpdatePanel1 div.form-group:nth-child(4) > div select {
        width: 100%;
    }
    /*結案說明*/
    #ContentPlaceHolder1_UpdatePanel1 div.form-group:nth-child(4) > div.form-group {
        width: 100%;
    }

        #ContentPlaceHolder1_UpdatePanel1 div.form-group:nth-child(4) > div.form-group #ContentPlaceHolder1_FileUpload_Close {
            font-size: 0.7em;
        }
}
