#_Title {
    padding: 0;
}

#_Title .x_panel {
    padding: 0;
}

#_Title .x_panel .x_content {
    padding: 0;
}

._mdTitle {
    display: none;
}

._xsTitle {
    display: block;
}


.pull-right #datatable-buttons_length {
    margin: 10px;
    font-size: 0.7em;
}

.pull-right #datatable-buttons_paginate {
    margin: 10px;
    font-size: 0.7em;
}