
.Div_Shadow {
    box-shadow: 3px 3px 9px gray;
}

@media screen and (max-width:768px) {
    #_Title {
        padding:0;
    }
    #_Title .x_panel {
        padding:0;    
    }
    .Div_Shadow {
        box-shadow: none;
    }

    .x_panel {
        border: none;
    }

    #datatable-buttons_wrapper {
        padding: 0 10px 10px 10px;
    }

}
