.breadcrumb_ {
    padding: 0px 0px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb_ > li {
    display: inline-block;
}

.breadcrumb_ > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb_ > .active {
    color: #777;
}

